.container {
  text-align: center;
}

.title {
  font-size: 34px;
  line-height: 2.3rem;
}

.icon {
  margin-top: 20px;
  font-size: 40px;
  color: rgb(49, 83, 91);
}

.caption {
  margin-top: 60px;
  font-size: 14px;
  color: rgb(49, 83, 91);
}
